*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 134px);
  grid-template-rows: minmax(120px, auto) repeat(5, 75px);
  margin-top: 60px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.9);
  outline: none;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

#span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.output #previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output #current-operand {
  color: white;
  font-size: 2.5rem;
  padding: 40px;
  padding-left: 5px;
  background-color: rgb(133, 134, 148);
}

.data-operation {
  background-color: rgb(245, 145, 62);
}
