@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;500&display=swap');

h2 {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 3.5em;
  margin: 30px;
}

h3 {
  margin: 20px;
}

p {
  font-size: 1.2em;
  margin: 20px;
}

.quote {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 3.5em;
  margin: 80px 50px 50px 50px;
}
